<div class="grid-container">
    <div class="grid-x">
        <div class="medium-8">
            <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                    <label>Seleccione una empresa
                        <select (change)="SeleccionoEmpresa($event.target.value)">
                            <option *ngFor="let empresa of empresas | filtroEmpresa:filtro" [value]="empresa.id">{{ empresa.nit + ' - ' + empresa.nombre }}</option>
                        </select>
                    </label>
                </div>
                <div class="medium-3 cell">
                    <label>filtro
                        <input type="text" [(ngModel)]="filtro" placeholder="filtro">
                    </label>
                </div>
                <div class="medium-3 cell">
                    <a style="margin-top: 24px" (click)="ShowCrearEmpleado()" class="button">Nuevo Empleado</a>
                </div>
            </div>
        </div>
        <div class="medium-9" style="max-height: 200px">
            <table class="unstriped">
                <tr>
                    <th>Id</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Telefono</th>
                    <th>direccion</th>
                    <th>foto</th>
                </tr>

                <tr *ngFor="let empleado of empleados | filtroEmpresa:util.filtro">
                    <td>{{ empleado.id }}</td>
                    <td>{{ empleado.nombres }}</td>
                    <td>{{ empleado.apellidos }}</td>
                    <td>{{ empleado.telefono }}</td>
                    <td>{{ empleado.direccion }}</td>
                    <td style="text-align: center">
                        <div class="grid-x">
                            <div (click)="MostrarUbicacion(empresa)" class="button-cursor float-center medium-6">
                                <i class="material-icons">remove_red_eye</i>
                            </div>
                            <div (click)="MostrarEditar(empresa)" class="button-cursor float-center medium-6">
                                <i class="material-icons">mode_edit</i>
                            </div>
                        </div>
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>

<div class="reveal tiny" id="ModalNuevoEditar" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
    <h3 style="margin-left: 12px">Empleado</h3>

    <div class="grid-x">
        <div class="medium-12">
            <form>
                <div class="grid-container">
                    <div id="formulario" class="grid-x grid-padding-x">
                        <div class="medium-12 cell">
                            <app-photo-uploader></app-photo-uploader>
                            <!-- <input type="file" (change)="getFiles($event)" name="images" id="files" class="upload" /> -->
                            <div id="image"></div>
                        </div>
                        <div class="medium-12 cell">
                            <label>Nombres
                                <input type="text" [disabled]="EditorMode" [(ngModel)]="nuevoEmpleado.nombres" name="nit" placeholder="Digite el nit aqui">
                            </label>
                        </div>
                        <div class="medium-12 cell">
                            <label>Apellidos
                                <input type="text" [(ngModel)]="nuevoEmpleado.apellidos" name="nombre" placeholder="Digite el nombre aqui">
                            </label>
                        </div>
                        <div class="medium-12 cell">
                            <label>Telefono
                                <input type="text" [(ngModel)]="nuevoEmpleado.telefono" name="direccion" placeholder="Digite la direccion aqui">
                            </label>
                        </div>
                        <div class="medium-12 cell">
                            <label>Direccion
                                <input type="text" [(ngModel)]="nuevoEmpleado.direccion" name="telefono" placeholder="Digite el telefono aqui">
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="medium-12 cell clearfix" style="padding-top: 8px;">
            <button style="margin : 0px 5px" class="alert button small float-right" (click)="limpiar()">Cancelar</button>
            <button *ngIf="!EditorMode" class="button small float-right" (click)="GuardarEmpresa()">Guardar</button>
            <button *ngIf="EditorMode" class="button small float-right" (click)="ActualizarEmpresa()">Actualizar</button>
        </div>
    </div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
