<div class="grid-container">
    <div class="grid-x">
        <div class="medium-8">
            <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                    <label>Seleccione una empresa
                        <select (change)="FiltroEmpresa($event.target.value)">
                            <option value="-1" selected>todos</option>
                            <option *ngFor="let empresa of empresas | filtroEmpresa:filtro" [value]="empresa.id">{{ empresa.nit + ' - ' + empresa.nombre }}</option>
                        </select>
                    </label>
                </div>
                <div class="medium-3 cell">
                    <label>filtro
                        <input type="text" [(ngModel)]="filtro" placeholder="filtro">
                    </label>
                </div>
                <div class="medium-3 cell">
                    <a style="margin-top: 24px" (click)="ShowCrearEmpleado()" class="button">Nuevo Empleado</a>
                </div>
            </div>
        </div>
        <div class="grid-x medium-12" style="max-height: 420px;overflow-y: scroll">
            <div class="medium-12">
                <table class="unstriped">
                    <tr>
                        <th>Id</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Telefono</th>
                        <th>direccion</th>
                        <th style="text-align: center">foto</th>
                        <th style="text-align: center">Acciones</th>
                    </tr>

                    <tr *ngFor="let empleado of empleados | filtroEmpleado: util.filtro:FiltroEmpresaID ">
                        <td>{{ empleado.id }}</td>
                        <td>{{ empleado.nombres }}</td>
                        <td>{{ empleado.apellidos }}</td>
                        <td>{{ empleado.telefono }}</td>
                        <td>{{ empleado.direccion }}</td>
                        <td style="text-align: center">
                            <img height="24" width="24" src="{{ rootImage + empleado.foto }}" />
                        </td>
                        <td style="text-align: center">
                            <div class="grid-x" style="color: #1779ba">
                                <div (click)="showServicios(empleado)" class="button-cursor float-center medium-4">
                                    <i class="material-icons">assignment</i>
                                </div>
                                <div (click)="showEditarEmpleado(empleado)" class="button-cursor float-center medium-4">
                                    <i class="material-icons">mode_edit</i>
                                </div>
                                <div (click)="AsignarServicio(empleado)" class="button-cursor float-center medium-4">
                                    <i class="material-icons">add_location</i>
                                </div>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>

<div class="reveal" id="ModalNuevoEditar" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
    <h3 style="margin-left: 12px">Empleado</h3>

    <div class="grid-x">
        <div class="medium-12 cell">
            <form>
                <div id="formulario" class="grid-x">
                    <div class="grid-x grid-padding-x medium-6 cell">
                        <div class="medium-12 cell">
                            <app-photo-uploader #photo></app-photo-uploader>
                            <div id="image"></div>
                        </div>
                        <div class="medium-12 cell">
                            <label>NOMBRES
                                <input type="text" [(ngModel)]="nuevoEmpleado.nombres" name="nit" placeholder="Digite el nit aqui">
                            </label>
                        </div>
                        <div class="medium-12 cell">
                            <label>APELLIDOS
                                <input type="text" [(ngModel)]="nuevoEmpleado.apellidos" name="nombre" placeholder="Digite el nombre aqui">
                            </label>
                        </div>
                    </div>

                    <div class="grid-x grid-padding-x medium-6 cell">
                        <div class="medium-12 cell">
                            <label>IDENTIFICACION
                                <input type="text" [disabled]="EditMode" [(ngModel)]="nuevoEmpleado.identificacion" name="direccion" placeholder="Digite la direccion aqui"
                                />
                            </label>
                        </div>
                        <div class="medium-12 cell">
                            <label>DIRECCION
                                <input type="text" [(ngModel)]="nuevoEmpleado.direccion" name="telefono" placeholder="Digite el telefono aqui" />
                            </label>
                        </div>
                        <div class="medium-12 cell">
                            <label>SELECCIONE UNA EMPRESA
                                <select [disabled]="EditMode" (change)="SeleccionoEmpresa($event.target.value)">
                                    <option *ngFor="let empresa of empresas | filtroEmpresa:filtro" [value]="empresa.id">{{ empresa.nit + ' - ' + empresa.nombre }}</option>
                                </select>
                            </label>
                        </div>
                        <div class="medium-12 cell">
                            <label>TELEFONO
                                <input type="text" [(ngModel)]="nuevoEmpleado.telefono" name="direccion" placeholder="Digite la direccion aqui" />
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="medium-12 cell clearfix" style="padding-right: 10px">
            <button style="margin : 0px 5px" class="alert button small float-right" (click)="limpiar()">Cancelar</button>
            <button *ngIf="!EditMode" class="button small float-right" (click)="Guardar()">Guardar</button>
            <button *ngIf="EditMode" class="button small float-right" (click)="Actualizar()">Actualizar</button>
        </div>
    </div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<div class="reveal large" id="ModalAsignarServicio" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
    <div class="grid-x">
        <div class="medium-12 cell" style="margin-left: 14px">
            <label>
                <span style="font-weight: bold">
                    NUEVO SERVICIO -
                </span>
                <span style="color: #1779ba">
                    {{ nuevoServicio.nombreEmpleado }} | {{ nuevoServicio.nombreEmpresa }}
                </span>
            </label>
        </div>
    </div>
    <div class="grid-x">
        <div class="medium-12 cell">
            <form>
                <div id="formulario" class="grid-x grid-padding-y">
                    <div class="grid-x grid-padding-x medium-3 cell">
                        <div class="medium-12 cell">
                            <label>FECHA
                                <input type="date" id="fechaServicio" [(ngModel)]="nuevoServicio.date" name="date">
                            </label>
                        </div>
                        <div class="medium-12 cell grid-x">
                            <div class="medium-5 cell">
                                <label>HORA
                                    <input type="number" [(ngModel)]="nuevoServicio.hora" name="hora" placeholder="HORA">
                                </label>
                            </div>
                            <div class="medium-2 cell">
                                <label>&nbsp;
                                </label>
                                <div style="font-weight: bold;font-size: 24px;height: 38px;text-align: center;">:</div>
                            </div>
                            <div class="medium-5 cell">
                                <label>MINUTOS
                                    <input type="number" [(ngModel)]="nuevoServicio.minutos" name="minutos" placeholder="MINUTOS">
                                </label>
                            </div>
                        </div>
                        <div class="medium-12 cell">
                            <label>DURACION EN MINUTOS
                                <input type="number" [(ngModel)]="nuevoServicio.duracion" name="duracion" placeholder="Digite la duracion aqui">
                            </label>
                        </div>
                        <div class="medium-12 cell">
                            <label>ACTIVIDAD
                                <input type="text" [(ngModel)]="nuevoServicio.actividad" name="act" placeholder="Digite el nombre aqui">
                            </label>
                        </div>
                        <div class="medium-12 cell">
                            <label>OBSERVACION
                                <input type="text" [(ngModel)]="nuevoServicio.observacion" name="obs" placeholder="Digite el nit aqui">
                            </label>
                        </div>
                    </div>

                    <div class="medium-9 cell">
                        <label>ELIJA LA UBICACION DEL SERVICIO AQUI</label>
                        <app-gmap #mapServicios [name]="'servicesMap'" [height]="360"></app-gmap>
                    </div>

                    <div class="medium-12 cell clearfix">
                        <button class="alert button small float-right" style="margin-left: 4px" (click)="CancelarAsignarServicio()">Cancelar</button>
                        <button class="button small float-right" (click)="GuardarAsignacion()">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="reveal large" id="ModalServicio" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
    <div class="grid-x">
        <div class="medium-12 cell" style="margin-left: 14px">
            <label>
                <span style="font-weight: bold">
                    SERVICIOS -
                </span>
                <span style="color: #1779ba">
                    {{ empleadoSeleccionado.nombreEmpleado }} | {{ empleadoSeleccionado.nombreEmpresa }}
                </span>
            </label>
        </div>
    </div>
    <div class="grid-x">
        <div class="medium-12 cell">
            <form>
                <div id="formulario" class="grid-x grid-padding-y">
                    <div class="grid-x medium-12 cell">
                        <div class="medium-7 cell grid-x grid-padding-x">
                            <div class="medium-4 cell">
                                <label>FECHA INICIAL
                                    <input type="date" id="fechaServicio" [(ngModel)]="fecha_inicial" name="date">
                                </label>
                            </div>
                            <div class="medium-4 cell">
                                <label>FECHA FINAL
                                    <input type="date" id="fechaServicio" [(ngModel)]="fecha_final" name="date">
                                </label>
                            </div>
                            <div class="medium-2 cell clearfix">
                                <label>&nbsp;</label>
                                <button class="button float-left" (click)="cargarServicios()">Cargar</button>
                            </div>
                        </div>
                        <div class="medium-5 cell clearfix ">
                            <div class="medium-6 float-right">
                                <label>&nbsp;</label>
                                <input type="text" [(ngModel)]="FiltroServicios" name="filtro_servicio" placeholder="Buscar" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="medium-12 cell" style="height: 300px;max-height: 300px;overflow-y: scroll">
            <table class="unstriped">
                <tr>
                    <th>Id</th>
                    <th>fecha</th>
                    <th style="text-align: center">Estado</th>
                    <th style="text-align: center">Actividad</th>
                    <th style="text-align: center">Observacion</th>
                    <th style="text-align: center">Direccion</th>
                    <th style="text-align: center">Telefono</th>
                    <th style="text-align: center">Bluetooth</th>
                </tr>

                <tr *ngFor="let servicio of servicios | filtroServicio:FiltroServicios ">
                    <td>{{ servicio.id }}</td>
                    <td>{{ servicio.fecha | date:'EEEE, MMMM d, y, h:mm:ss a' }}</td>
                    <td style="text-align: center">{{ servicio.estadoTexto }}</td>
                    <td style="text-align: center">{{ servicio.actividad }}</td>
                    <td style="text-align: center">{{ servicio.observacion }}</td>
                    <td style="text-align: center">{{ servicio.actividad }}</td>
                    <td style="text-align: center">{{ servicio.BateriaPhone }}</td>
                    <td style="text-align: center">{{ servicio.BateriaBluetooth }}</td>
                    <td style="width: 150px">
                        <div (click)="showLocationService(servicio)" style="text-align: center;color: #1779ba" class="button-cursor float-center medium-4">
                            <i class="material-icons">location_on</i>
                        </div>
                    </td>
                </tr>

            </table>
        </div>
        <div class="medium-12" style="height:40px">

        </div>
    </div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
