<style>
  td {
    text-align: center
  }
</style>

<div class="grid-x">
  <div class="medium-3">
    <p>
      <button class="button" data-open="exampleModal1">Nueva Empresa</button>
    </p>
  </div>
</div>
<!--  -->
<div class="grid-x" style="max-height: 460px;overflow-y: scroll">
  <div class="medium-9">
    <table class="unstriped">
      <tr>
        <th>Id</th>
        <th>Nit</th>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th>Acciones</th>
      </tr>

      <tr *ngFor="let empresa of empresas | filtroEmpresa:util.filtro">
        <td>{{ empresa.id }}</td>
        <td>{{ empresa.nit }}</td>
        <td>{{ empresa.nombre }}</td>
        <td>{{ empresa.direccion }}</td>
        <td>{{ empresa.telefono }}</td>
        <td style="text-align: center">
          <div class="grid-x">
            <div (click)="MostrarUbicacion(empresa)" class="button-cursor float-center medium-6">
              <i class="material-icons">remove_red_eye</i>
            </div>
            <div (click)="MostrarEditar(empresa)" class="button-cursor float-center medium-6">
              <i class="material-icons">mode_edit</i>
            </div>            
          </div>
        </td>
      </tr>

    </table>
  </div>
</div>
 

<div class="reveal small" id="mapModal" data-reveal data-animation-in="fade-in" data-animation-out="fade-out">
  <h3 style="margin-left: 12px">Empresa</h3>

  <div class="grid-x">
    <div class="medium-12 cell">
      <label>ubicacion de la empresa </label>
      <app-gmap #mapa2 [name]="'mapaMostrarUbicacion'" [height]="360" [DisableClickEvent]="true"></app-gmap>
    </div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>