<div (click)="backgroundClick()">
    <div class="upload-image row" [ngClass]="{'no-content': showButton == true}">
        <div class="column align-self-middle">
            <img style="margin:auto" #selectedImage width="150" height="150" />
        </div>
    </div>
    <div class="upload-btn-wrapper" [ngClass]="{'no-content': showButton == false}">
        <button class="btn"></button>
        <input #inputContent type="file" (change)="getFiles($event)" name="images" id="files" class="PhotoComponent" />
    </div>
</div>